.background2 {
    background-image: url("https://previews.123rf.com/images/maxborovkov/maxborovkov1509/maxborovkov150900310/45726651-new-year-background-with-balls-vector-illustration-.jpg");
    height: 1000px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0.9;
}


.video2 {
    margin-top: 0.2rem;  
    padding: 10px 48px;
    display: flex;
    float: none;
    text-align: left;
    display: flex;
}

