.background4 {
    background-image: url("https://www.reynolds.k12.or.us/sites/default/files/imageattachments/glenfair/page/7501/happy-thanksgiving-background-1024x716.jpg");
    height: 1000px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0.9;
}


.video4 {
    margin-top: 0.2rem;  
    padding: 10px 48px;
    display: flex;
    float: none;
    text-align: left;
    display: flex;
}

